.container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    padding-bottom: 30px;
}

.input {
    width: 50%;
    height: 50px;
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid #111111;
    padding: 0 15px;
    font-size: 20px;
    outline: none;
    margin-top: 30px;
}

@media only screen and (max-width: 700px) {
    .input {
        width: calc(85% - 30px);
        font-size: 17px;
    }
}
