.launch-animation-enter {
    opacity: 0;
}
.launch-animation-enter-active {
    opacity: 1;
    transition: opacity 300ms, transform 300ms;
}
.launch-animation-exit {
    opacity: 1;
}
.launch-animation-exit-active {
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
}
