.container {
    width: 30%;
    height: 450px;
    background-color: #ffffff;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: #111111;
}

.title {
    width: auto;
    height: auto;
    font-size: 30px;
    margin-top: 50px;
    font-weight: bold;
}

.sign_in_btn {
    width: 55%;
    height: 50px;
    background-color: #111111;
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    align-items: center;
    transition: background-color 0.3s;
}

.sign_in_btn:hover {
    cursor: pointer;
    background-color: #222222;
}

.error {
    width: 75%;
    height: 50px;
    background-color: #ffa3a3;
    color: #bd3449;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border-radius: 7px;
}

@media only screen and (max-width: 1500px) {
    .container {
        width: 600px;
    }
}

@media only screen and (max-width: 700px) {
    .container {
        width: 85%;
    }
}

@media only screen and (max-width: 700px) {
    .sign_in_btn {
        width: 85%;
    }

    .title {
        font-size: 22px;
    }

    .error {
        width: 85%;
        font-size: 15px;
    }

    .sign_in_btn {
        font-size: 17px;
    }
}

