.container {
    width: 85%;
    height: auto;
    display: flex;
    flex-direction: column;

    padding: 20px 0;
}

@media only screen and (max-width: 800px) {
    .container {
        justify-items: center;
        align-items: center;
    }
}
